body {
    background-color: black;
}

.sd-large-up-margin {
    margin-top: 100px;
}

.round-upper {
    border-radius: 20px 20px 0px 0px;
}

.round-bottom {
    border-radius: 0px 0px 20px 20px;
}

.round-all {
    border-radius: 20px;
}

.large-font-size {
    font-size: 100px;
}

.unify-orange {
    color: orange;
}

.large-margin {
    margin-top: 150px;
    margin-bottom: 150px;
}

.large-padding {
    padding-top: 20px;
}

.background-image {
    background-image: url("leone.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.large-bottom {
    padding-bottom: 50px;
}

.max-image {
    max-width: 100px;
}